:root {
  --accent-color: #2196f3;
  --logo-header-color: #000000;
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --header-border-color: #ececec;
  --primary-icon-color: #afb1b8;
  --hero-overlay-background-color: rgba(47, 48, 58, 0.4);
  --portfolio-border-color: #eeeeee;
  --primary-button-text-color: #ffffff;
  --footer-secondary-text-color: rgba(255, 255, 255, 0.6);
  --footer-icon-background-color: rgba(255, 255, 255, 0.1);
  --backdrop-background-color: rgba(0, 0, 0, 0.2);
  --background-primary-color: #ffffff;
  --background-secondary-color: #f5f4fa;
  --background-dark-primary-text-color: #ffffff;
  --background-dark-color: #2f303a;
  --logo-font-family: "Raleway", sans-serif;
  --primary-font-family: "Roboto", sans-serif;
  --flex-grid-margin: 30px;
  --animate-color: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --animate-background-color: background-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
  --animate-border-color: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --animate-shadow: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --animate-transform: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
