.header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid var(--header-border-color);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.header__contacts {
  display: flex;
  align-items: center;
}

.header__contacts .contacts__item:not(:last-child) {
  margin-right: 50px;
}
