.hero {
  display: flex;
  justify-content: center;

  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--background-dark-color);
  background-image: linear-gradient(
      to right,
      var(--hero-overlay-background-color),
      var(--hero-overlay-background-color)
    ),
    url("../images/hero-overlay.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  width: 700px;
}

.hero__title {
  @extend %title;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-dark-primary-text-color);
}
