.team {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  background-color: var(--background-secondary-color);
}

.team__list {
  @include gridContainer();
}

.team__item {
  @include gridItem(4);
  background-color: var(--background-primary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
