.logo {
  font-family: var(--logo-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--logo-header-color);
}

.logo--dark-bg {
  color: var(--background-dark-primary-text-color);
}

.logo__accent {
  color: var(--accent-color);
}

.logo__link:hover,
.logo__link:focus {
  color: inherit;
}
