.logo {
  font-family: var(--logo-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--logo-header-color);

  &:hover,
  &:focus {
    color: inherit;
  }
}

.logo--dark-bg {
  color: var(--background-dark-primary-text-color);
}

.logo__accent {
  color: var(--accent-color);
}
