.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  position: relative;

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.menu__link {
  @extend %animated-color-link;
  @extend %link;
}

.menu__link--current {
  color: var(--accent-color);

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -33px;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}
