.socials-list {
  display: flex;
}

.socials-list--centered {
  justify-content: center;
}

.socials-list__item:not(:last-child) {
  margin-right: 10px;
}

.socials-list__icon {
  --color4: currentColor;
}

.socials-list__link {
  @extend %link;

  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: var(--primary-icon-color);
  transition: var(--animate-color), var(--animate-background-color);

  &:hover,
  &:focus {
    color: var(--background-primary-color);
    background-color: var(--accent-color);
  }
}

.socials-list__link--dark-bg {
  background-color: var(--footer-icon-background-color);
  color: var(--background-dark-primary-text-color);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
